<div class="jumbotron">
      <div class="container">
        <h1>Hello, Programmers!</h1>
        <p>This is a web application for saving code snippets in many programming languages.</p>
        <p> If you are an existing user please..
        <a class="btn btn-primary btn-lg" href="<%= new_user_session_path%>" role="button"> Sign in</a> or <a class="btn btn-primary btn-lg btn-success" href="<%= new_user_registration_path%>" role="button"> Sign up</a> </p>
      </div>
</div>

 <div class="container">
      <!-- Example row of columns -->
      <div class="row">
       <div class="col-md-4">
          <h2>Syntax highlighting</h2>
          <p>Snippets are highlighted using CodeMirror text editor.</p>
         
       </div>
        <div class="col-md-4">
          <h2>Tagging</h2>
          <p>You can use tags to organise your snippets, and explore what snippets do other programmers save. </p>
        </div>
       
        <div class="col-md-4">
          <h2>Searching</h2>
           <p>Get the most out of this application.</p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Bernovia 2015</p>
      </footer>
    </div> <!-- /container -->